body {
  overflow: hidden;
}

.reqs-container {
  width: 40%;
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .reqs-container {
    width: 80%;
    display: block;
    margin-bottom: 4vh;
  }
  .container {
    flex-wrap: wrap;
  }

  body {
    overflow-y: scroll;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.main-content {
  height: 62vh;
  overflow-y: scroll;
}

.filter * {
  margin-bottom: 1vh;
}

.filter {
  text-align: right;
}

.filter select {
    font-size: 0.8rem;
    font-family: inherit;
    cursor: pointer;
}

.filter label {
    margin-left: 1vw;
}
