.reqs {
  overflow-y: scroll;
  max-height: 70vh;
  width: 60%;
  margin: auto;
}

.logout:hover {
  background-color: #63372c;
}

::-webkit-scrollbar {
  width: max(1vw, 15px);
  position: absolute;
  left: 10vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c38d94;
}

::-webkit-scrollbar-thumb:hover {
  background: #cf808a;
}

.success {
  margin-top: 0;
  color: rgb(125, 170, 57);
}

.failed {
  margin-top: 0;
  color: rgb(207, 90, 90);
}